AMAP_WEB_SERVICE_KEY=
NEXT_PUBLIC_AMAP_JS_KEY=
NEXT_PUBLIC_AMAP_SECURITY_JS_CODE=

TRTC_SDK_APP_ID=
TRTC_SECRET_KEY=
NEXT_PUBLIC_TRTC_REALTIME_TRANSCRIBER=false

DASHSCOPE_API_KEY=
DASHSCOPE_MODEL=qwen-flash

MAX_ROOM_PARTICIPANTS=10
